html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* * GLOBALES */
body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  line-height: 2;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #000;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
/* *UTLIDADES */

/* * HEADER DE SITE*/
.header h1 {
  font-size: 7rem;
  text-align: center;
}

.header h1 span {
  color: #037bc0;
}

.site-menu {
  border-top: 1px solid #eaeaf0;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

.nav-menu a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
}

/* *HERO */
.hero {
  background-image: url(../Imagenes-Ecommerce/principal.jpg);
  height: 55rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
